<div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title">Ayuda</h1>
    </div>
    <div class="panel-body">
        <p class="well well-sm"><a href="/"><strong>Info-Igualdad</strong></a> es un sitio destinado a la publicación de novedades sobre
            discapacidad. Beneficios y demás información se puede encontrar en este lugar de la web y es presentada
            de manera fácil y accesible para todo tipo de usuarios, sin distinción de sexo, raza, capacidades físicas,
            mentales, etc.</p>

        <p class="page-header"><a href="/"><strong>Barra de navegación</strong></a></p>
        <p class="well well-sm">A través de la barra de navegación el usuario puede acceder a los distintos sectores del
            sitio, desde el inicio de la página hasta el sector de ayuda al usuario.</p>

        <p class="page-header"><a href="/"><strong>Inicio</strong></a></p>
        <p class="well well-sm">En la pagina de inicio de <a href="/"><strong>Info-Igualdad</strong></a> el usuario encontrará artículos con
            novedades importantes que pueden ser de su interes, relacionados a nuevos beneficios, guías y apoyo para
            personas discapacitadas</p>

        <p class="page-header"><a href="/"><strong>Categorias</strong></a></p>
        <div class="well well-sm">
            <p>Clasificamos los articulos que publicamos en nuestro sitio en categorias, de manera que
                el usuario pueda acceder y encontrarlos mas facilmente.
            <ul class="nav nav-list">
                <li>
                    <ul>
                        <li>
                            <a href="/informacion"><strong>Informacion:</strong></a> En esta categoria el usuario encontrará artículos con guías,
                            publicaciones de entidades, consejos, información en general, etc.
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a href="/beneficios"><strong>Beneficios:</strong></a> Aqui se encontrarán artículos con toda la informacion relaciona a
                            los beneficios que tienen todas las personas con capacidades diferentes, ya sea nuevos
                            beneficios o proyectos otorgados como los que ya se encuentran vigentes.
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>

        <p class="page-header"><a href="/contacto"><strong>Contacto</strong></a></p>
        <p class="well well-sm">En esta seccion el usuario podra comunicarse con nosotros, enviarnos cualquier tipo de
            consulta o sugerencia sobre lo expuesto en nuestra web. Para poder hacerlo debera contar con un número de
            teléfono y una cuenta de email, de manera que podamos responder a la brevedad.</p>

        <p class="page-header"><a href="/sitios_de_interes"><strong>Sitios de interes</strong></a></p>
        <p class="well well-sm">Aqui exponemos una lista de sitios que pueden ser de gran utilidad para usted, ademas
            de agregar números telefónicos y direcciones de email de diferentes entidades nacionales y organizaciones
            que se preocupan por los derechos de todas las personas.</p>

        <p class="page-header"><a href="/"><strong>Mapa del sitio</strong></a></p>
        <p class="well well-sm">El mapa del sitio hace que nuestro sitio sea simple de navegar para todas las personas,
            a traves de él se tiene acceso total a todas las secciones de nuestra web de forma inmediata.</p>

        <%= link_to "Volver al Inicio", root_path, :class => "btn btn-success" %>
    </div>
</div>
