<div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title">Ayuda sobre el sitio</h1>
    </div>
    <div class="panel-body">
        <b><u>Pagina principal / Inicio: </b></u> <br>
        En la pagina principal de Info-Igualdad encontrara novedades y articulos importantes que pueden ser de su interes, relacionados a nuevos beneficios, guias y apoyo para personas discapacitadas<br><br>
        <b><u>Mapa del sitio: </b></u> <br>
        El mapa del sitio hace que nuestro sitio sea simple de navegar para todas las personas, a traves de el se tiene acceso total a todas las secciones de nuestra web de forma inmediata.<br><br>
        <b><u>Categorias: </b></u> <br>
        Clasificamos los articulos que publicamos en nuestro sitio en categorias, de manera que puedas acceder y encontrarlos mas facilmente.<br>
        <ul class="nav nav-list">
            <li>
                <ul>-<u>Informacion:</u> En esta categoria encontraras articulos con guias, publicaciones de entidades, consejos, informacion en general, etc.
                </ul>
            </li>
            <li>
                <ul>
                -<u>Beneficios:</u> Aqui encontraras articulos con toda la informacion relaciona a los beneficios y derechos que tienen todas las personas, ya se nuevos beneficios o proyectos otorgados como los que ya se encuentran vigentes.
                </ul>
            </li>
        </ul><br>
        <b><u>Contacto: </b></u> <br>
        En esta seccion podras comunicarte con nosotros, enviarnos cualquier tipo de consulta o sugerencia sobre lo expuesto en nuestra web. Para poder hacerlo deberas contar con una cuenta de email, de manera que podamos responder a la brevedad.<br><br>
         <b><u>Sitios de interes: </b></u> <br>
        Aqui exponemos una lista de sitios que pueden ser de gran utilidad para usted, ademas de agregar numeros telefonicos y casillas de email de diferentes entidades nacionales y organizaciones que se preocupan por los derechos de todas las personas.<br><br>
    </div>
</div>
