<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Beneficios</h1>
  </div>
  <div class="panel-body">
    <div class= "noticias">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="listabeneficios">Beneficios: La importancia del certificado de discapacidad</a></h2>
        </div>
        <div class="panel-body">
          <div class="imagen-de-noticia">
            <a href="/listabeneficios"><%= image_tag "beneficio.jpeg", :title => "Beneficios: La importancia del certificado de discapacidad",
                                      :class => "img-thumbnail" %></a>
          </div>
          <div class="descripcion-noticia">
            Se obtienen beneficios que tienen por objeto la integración social de las personas con discapacidad, y el aval de una garantía de igualdad ante la ley, a fin de garantizarles el pleno goce y ejercicio de los derechos humanos y de la igualdad real de oportunidades, neutralizando las desventajas que frente al resto crea su discapacidad.  <a href="/listabeneficios" title="Beneficios: La importancia del certificado de discapacidad">Leer más sobre: Beneficios: La importancia del certificado de discapacidad.</a>
          </div>

        </div>
     
        </div>
      </div>
    </div>
</div>
