<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Novedades</h1>
  </div>
  <div class="panel-body">
    <div class= "noticias">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="#">Certificado de discapacidad: Todo lo que tenes que saber</a></h2>
        </div>
        <div class="panel-body">
          <div class="imagen-de-noticia">
            <a href="#"><%= image_tag "certificado.jpeg", :alt => "Certificado de discapacidad: Todo lo que tenes que
            saber", :title => "Certificado de discapacidad: Todo lo que tenes que saber",:width => "100%",
                                      :class => "img-thumbnail" %></a>
          </div>
          <div class="descripcion-noticia">
            El certificado de discapacidad acredita que la persona que lo posee padece una restricción o ausencia
            -debida a una deficiencia- de la capacidad de realizar una actividad en la forma o dentro del margen que se
            considera normal para el ser humano (adoptándose de esta forma la definición dada por el Art. 2 de la Ley
            Nº 10.592). Es decir, que acredita que la persona no posee un estado de completo bienestar físico y/o
            mental. Por lo dicho queda en claro que la definición de discapacidad no se limita a las personas que
            padecen afecciones y enfermedades.
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a href="/derechos">Tus derechos ¿Como defenderlos?</a></h2>
        </div>
        <div class="panel-body">
          <div class="imagen-de-noticia">
            <a href="/derechos"><%= image_tag "inclusion", :alt => "Tus derechos ¿Como defenderlos?",
                                      :title => "Tus derechos ¿Como defenderlos?",:width => "100%",
                                      :class => "img-thumbnail" %></a>
          </div>
          <div class="descripcion-noticia">
            Los derechos humanos son universales, políticos, civiles, económicos, sociales y culturales, pertenecen a
            todos los seres humanos, incluyendo a la personas con distintas discapacidades. Las personas discapacitadas
            deben gozar de sus derechos humanos y libertades fundamentales en términos iguales con otros en la sociedad,
            sin discriminación de ningún tipo. Ellos también disfrutan de ciertos derechos específicamente ligados a su
            status. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>