<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Beneficios: La importancia del certificado de discapacidad</h1>
    </div>
    <div class="panel-body">
            <div class="introduccion-noticia">
                <div class="imagen-de-noticia">
                    <%= image_tag "beneficio", :alt => "Beneficios: La importancia del certificado de discapacidad",
                    :title => "Beneficios: La importancia del certificado de discapacidad", :class => "img-thumbnail" %>
                </div>
                <div class="descripcion-noticia">
                    <p>Se obtienen beneficios que tienen por objeto la integración social de las personas con
                      discapacidad, y el aval de una garantía de igualdad ante la ley, a fin de garantizarles el pleno
                      goce y ejercicio de los derechos humanos y de la igualdad real de oportunidades, neutralizando
                      las desventajas que frente al resto crea su discapacidad.</p>
                </div>
            </div>
        <div class= "noticia">
             <strong>Estos beneficios en concreto son:</strong>
         <div class="well well-sm">
             <p>
                <ul>
                    <li type="circle">
                      Cobertura integral de las prestaciones básicas de habilitación y rehabilitación:
                      prevención, rehabilitación, educación, asistencia. (Ley Nº24.901)
                    </li>
                    <li type="circle">  Traslado gratuito en transporte colectivo de pasajeros. (Decreto Nº38/04)
                    </li>
                    <li type="circle">
                      Acceso a regímenes diferenciales de seguridad social (por ejemplo, pensiones
                      asistenciales).
                    </li>
                     <li type="circle">
                       Asignaciones por escolaridad y asignación por hijo con discapacidad a favor del padre/madre del
                       mismo aún cuando fuera mayor de edad. Acceso a regímenes diferenciales de seguridad social
                       (por ejemplo, pensiones asistenciales).
                    </li>
                     <li type="circle">
                       Las personas con discapacidad motora tienen derecho a libre tránsito y estacionamiento de
                       acuerdo a lo que establezcan las respectivas disposiciones municipales las que no podrán excluir
                       de esas franquicias a los automotores patentados en otras jurisdicciones. Dichas franquicias
                       serán acreditadas por el distintivo de Identificación a que se refiere el artículo 12 de la ley
                       19.279.
                    </li>
                     <li type="circle">
                       Obtención de franquicias para la adquisición de automotores (Ley 19279).
                    </li>
                     <li type="circle">  Cobertura integral de medicación. (Ley Nº 24.901)</li>

                     <li type="circle">
                       Cobertura integral de tratamiento psicológico y/o psiquiátrico, incluso de su grupo familiar.
                       (Ley Nº 24.901)
                    </li>
                     <li type="circle">
                       Cobertura integral de alimentación dietoterápica que no se produzca en el país. (Ley Nº 24.901)
                    </li>
                     <li type="circle">
                       Diagnóstico, orientación y asesoramiento preventivo para los miembros del grupo familiar de
                       pacientes que presentan patologías de carácter genético-hereditario. (Ley Nº 24.901).
                    </li>
                </ul>
            </p>
        </div>
        </div>
        <%= link_to "Volver al Inicio", root_path, :class => "btn btn-success" %>
        <%= link_to "Volver a Beneficios", "/beneficios", :class => "btn btn-success" %>
    </div>
</div>
