<div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Certificado de discapacidad: Todo lo que tenes que saber</h2>
        </div>
        <div class="panel-body">
        	 <div class="introduccion-noticia">
	        	 <div class="imagen-de-noticia">
		            <%= image_tag "certificado.jpeg", :title => "Certificado de discapacidad: Todo lo que tenes que saber",
		                                      :class => "img-thumbnail" %>
		         </div>
         		 <div class="descripcion-noticia">
		            El certificado de discapacidad acredita que la persona que lo posee padece una restricción o ausencia
		            -debida a una deficiencia- de la capacidad de realizar una actividad en la forma o dentro del margen que se
		            considera normal para el ser humano (adoptándose de esta forma la definición dada por el Art. 2 de la Ley
		            Nº 10.592). Es decir, que acredita que la persona no posee un estado de completo bienestar físico y/o
		            mental. Por lo dicho queda en claro que la definición de discapacidad no se limita a las personas que
		            padecen afecciones y enfermedades. 
		         </div>
		    </div>
        	<div class= "noticia" margin-top:'5px'>
        		<br>
        		<br>
        		A continuacion colgamos un video con toda la informacion referente a el certificado de discapacidad, ya sea requisitos para obtenerlo como instrucciones y lugares donde se lo puede solicitar. El mismo es una entravista a la Dra. Grisel Olivera Roulet, directora del Servicio Nacional de Discapacidad (Encargado de emitir los certificados).<br>
            	<iframe width="420" height="315" src="https://www.youtube.com/embed/5r9QQgT2Q30" frameborder="0" allowfullscreen></iframe>

            	<br><br>

            	<b>¿Como se obtiene el certificado unico de discapacidad?</b> <br>
                - Primero hay que hacer una evaluacion multidisciplinaria o interdisciplinaria a la persona que lo solicita , se pide un turno, hoy lo estan dando en todo el pais con el mismo criterio ( por eso el nombre de certificado unico de discapacidad), solo una juridiccion no se ha sumado que es la de la Ciudad Autonoma de Buenos Aires. Los requisitos dependen del tipo de discapacidad, las discapacidades son evaluadas por una junta interdisciplinaria, que esta compuesta por lo general por un medico y una trabajadora social como minimo. Se evalua a la persona y si su funcionamiento esta alterado se otorga el certificado de discapacidad.<br><br>

            	<b>¿Cada cuanto tiempo se renueva el certificado de discapacidad?</b><br>
            	- Si la persona es menor de 5 años, se otorga hasta 5 años, si es mayor y hay daños irreversibles como puede ser alguna amputacion se otorga hasta 10 años.<br><br>

            	<b>¿Que diferencia hay entre el certificado unico y el que se otorgaba con anterioridad?</b><br>
            	- Antes el ceritificado de la junta evaluadora era unicamente mediaco y hoy se tiene una mirada interdisiplinaria.<br><br>

            	<b>¿Puede ir un familiar a hacer el tramite?</b><br>
            	- El certificado es un documento publico, entonces si la persona tiene una secuela que puede ser estar con un respirador o trastorno de conducta sumamente serio, puede concurrir un familiar con su documento, pero ademas debe contar con un resumen de historia clinica y un certificado de supervivencia, otorgado por la policia. que no tenga mas de 48 horas.<br><br>

            	<b>¿Que beneficios provee el certificado de discapacidad?</b><br>
            	- Hay que dejar claro que es de demanda espontanea y no obligatoria. Solo es obligatorio cuando va a utilizar algunos de los beneficios que la Legislacion Argentina contempla. Algunos de ellos son la cobertura social, los transportes, o para el trabajo, hay porcentajes que se dan en el estado en los tres poderes o en empresas privadas que solicitan el certificado.


			</div>
			<br><br>
			<%= link_to "Volver al menu principal", root_path, :class => "btn btn-success" %>
        </div>
</div>
    
