<div class="panel panel-info">
    <div class="panel-heading">
        Tus derechos ¿Como defenderlos?
    </div>
    <div class="panel-body">
            <div class="introduccion-noticia">
                <div class="imagen-de-noticia">
                    <%= image_tag "inclusion.jpg", :alt => "Tus derechos ¿Como defenderlos?",
                    :title => "Tus derechos ¿Como defenderlos?", :class => "img-thumbnail" %>
                </div>
                <div class="descripcion-noticia">
                    <p>Los derechos humanos son universales, políticos, civiles, económicos, sociales y culturales,
                        pertenecen a todos los seres humanos, incluyendo a las personas con distintas discapacidades.
                        Las personas discapacitadas deben gozar de sus derechos humanos y libertades fundamentales en
                        términos iguales con otros en la sociedad, sin discriminación de ningún tipo. Ellos también
                        disfrutan de ciertos derechos específicamente ligados a su status. Una explicación sencilla
                        para el uso de una poderosa herramienta de defensa legal.</p>
                </div>
            </div>
        <div class= "noticia">
            <strong>¿COMO DEFIENDE SUS DERECHOS UNA PERSONA CON DISCAPACIDAD CUANDO LAS OBRAS SOCIALES, LAS PREPAGAS O
                EL ESTADO LOS VULNERA?</strong>
            <p class="well well-sm">Presentando un recurso de amparo.<br></p>

            <strong>¿QUIEN PUEDE INTERPONERLO?</strong>
            <p class="well well-sm">Todo aquel a quien se le afecte o niegue el ejercicio de un derecho. El recurso de amparo siempre lo
                presenta un abogado, por medio de un escrito.<br></p>

            <strong>¿DONDE SE PRESENTA ?</strong>
            <p class="well well-sm">Se tramita en sede judicial (tribunales). El fuero más común es el Civil y Comercial Federal.<br></p>

            <strong>¿CUANTO TARDA?</strong>
            <p class="well well-sm">Aunque un juicio común siempre demora más de dos años, el recurso de amparo en cambio es inmediato.
            Generalmente lo que se pide se obtiene en forma provisoria entre los 10 a 20 días de iniciado
            (medida cautelar). Puede que luego el demandado se allane a la medida (la acepte como definitiva) sino,
            prosigue el juicio y entre los 3 a 6 meses el amparo se termina y el ejercicio del derecho queda firme,
            con costos a cargo del demandado.
            Los plazos no son siempre iguales. Hay veces en que el juez ordena una audiencia para llegar a un acuerdo o
            pide un informe a algún organismo. Hay juzgados más rápidos que otros, por eso si bien los recursos de
            amparo por lo general tardan 3 meses, pueden llegar a tardar hasta 6, pero mas allá de lo que demoren, lo
            importante es que mientras se desarrolla el juicio, el derecho está cubierto.<br></p>

            <strong>¿CUALES SON LOS PASOS ?</strong>
            <p class="well well-sm">Día 1. Se envía una carta documento.<br>
            Día 9. Si hay alguna respuesta se tiene una reunión para llegar a un acuerdo.<br>
            Día 12. De lo contrario, se presenta en tribunales una acción de amparo.<br>
            Día 19. El juez ordena que la Obra Social, Prepaga o el Estado empiece a cubrir lo que se pide hasta que termine el juicio.<br>
            Día 21. Se le notifica al demandado que tiene que brindar lo solicitado.<br>
            Día 40. El demandado presenta un informe y da su postura.<br>
            Día 75. El juez dicta sentencia ordenando que se cubra para siempre lo que se haya pedido en la demanda.<br></p>

            <strong>¿CUANDO ES MÁS USADO?</strong>
            <p class="well well-sm">El pedido más común es para exigir una cobertura a una Obra Social, una Prepaga o
                al Estado del 100% de los gastos de salud, educación, tratamiento, internación, traslados, etc.
                Sin embargo cualquier derecho violado que necesite una reparación urgente puede pedirse mediante un
                recurso de amparo.
                Lamentablemente es muy poco utilizado, ya que en líneas generales la familia se somete a las
                arbitrariedades por temor a supuestas represalias.
                Es muy común que piensen que la Obra Social le va a quitar lo poco que le daba hasta el momento,
                lo que, seguramente, fue conseguido después de mucho sacrificio, luchando y reclamando.
                PERO ESTO NO ES ASI. Por el contrario, cuando hay un juez de por medio, no tienen más remedio que
                comportarse correctamente y cumplir con la ley.<br></p>

            <strong>CASOS TESTIGO:</strong>
            <p class="well well-sm">(Al ser reales se ha protegido la identidad de las partes)<br>
                1. B.B.C.D., menor con discapacidad, concurre a Psicología, Psicopedagogía y Fonoaudiología en una
                Institución Privada. La Obra Social sólo le cubría la suma irrisoria del 33% del valor total de cada
                sesión ($16.- por sesión).
                Resultado: Mediante una medida cautelar innovativa, a los 18 días el niño estaba cubierto en todas las
                prestaciones por el monto total ($50.- por sesión) y a los 3 meses recayó sentencia definitiva,
                obligando a la obra social a cubrir estas prestaciones en forma total y sin limitaciones temporales.<br>
                2. A.S.(menor con parálisis cerebral).Una Prepaga no quería reconocer la cobertura total de varias
                prestaciones.
                Resultado: Se envió una carta documento y a la semana propusieron una reunión con los directores, donde
                hicieron una oferta que fue aceptada por los padres del niño y a los 15 días le estaban cubriendo el
                80% de los gastos.</p>
            <strong>CONCLUSIÓN :</strong>
            <p class="well well-sm">En la actualidad y fracasada la vía administrativa, no existe acción más rápida y
                segura para lograr un resultado favorable que la de utilizar un recurso de amparo. Además y a merced de
                la nueva ley 24.901 de Prestaciones Básicas en Rehabilitación de Personas con discapacidad, hoy, las
                Obras Sociales, pueden recuperar, gracias al fondo de redistribución que maneja la Superintendencia del
                Seguro de Salud y mediante un reintegro especial previsto para estos casos, lo que hubieran destinado a
                la atención de las Personas con Discapacidad. Es decir, que no les representa un gasto social sino que,
                cumpliendo con algunas gestiones, tienen la posibilidad de recuperar gran parte de lo invertido en estos
                programas especiales de tratamiento (Hogar, Centro de Día, Transporte, Psicología , Estimulación
                Temprana, Escolaridad, Formación Laboral, etc).<br>
                También es cierto que, los funcionarios y auditores médicos, ya conocen los fallos que se vienen
                aplicando y, aunque al principio intenten especular con la parálisis familiar, al iniciarse el reclamo,
                saben perfectamente cual va a ser el desenlace y es por esto que en algunos casos hay posibilidad de
                negociar sin llegar a un juicio.
                De no ser así , se inicia la acción de amparo con grandes posibilidades de éxito, ya que la justicia se
                ocupa de proteger los derechos individuales y en estos casos, con el agravante de la discapacidad, los
                jueces suelen ser muy receptivos. Entonces, SUPEREMOS EL MIEDO. Hoy más que nunca la balanza se inclina
                a nuestro favor.
                Con el AMPARO la ley nos ampara.<br>
                Por lo tanto si Ud. o algún familiar o conocido suyo resultara víctima de cualquier tipo de
                discriminación o incumplimiento de su atención, recomiéndele que inicie inmediatamente la acción legal
                pertinente y obtendrá a cambio el pleno ejercicio de sus derechos. Caso contrario, será otro cómplice
                involuntario que reforzará el autoritarismo que, algunas veces, practican aquellos que curiosamente
                fueron elegidos para protegerlos. Para vivir en una sociedad justa, de vez en cuando, no hay más
                remedio que recurrir a la justicia.<br></p>
        </div>
        <%= link_to "Volver al Inicio", root_path, :class => "btn btn-success" %>
        <%= link_to "Volver a Información", "/informacion", :class => "btn btn-success" %>
    </div>
</div>

