// Place all the styles related to the certificado controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.introduccion-noticia{
	float:left;
	padding-top: 5%;
	ṕadding-left: 5%;
}

.imagen-de-noticia {
	width: 20%;
	float: left;
}

.descripcion-noticia {
	
	width:80%;
	float: left;
  padding-left: 5%;
}