// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imagen-de-noticia {
	width: 20%;
	float: left;
}

.descripcion-noticia {
	
	width:80%;
	float: left;
}